In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression , LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm

In [2]:
data=pd.read_csv(r'D:\data_analysis\Heart_Disease_Prediction.csv')

In [3]:
data.shape

(270, 14)

In [4]:
data.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [5]:
data.isnull().sum()

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [6]:
data.duplicated().sum()

0

In [7]:
data.describe()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.00000,270.000000,270.000000,270.000000
mean,54.433333,0.677778,3.174074,131.344444,249.659259,0.148148,1.022222,149.677778,0.329630,1.05000,1.585185,0.670370,4.696296
std,9.109067,0.468195,0.950090,17.861608,51.686237,0.355906,0.997891,23.165717,0.470952,1.14521,0.614390,0.943896,1.940659
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.00000,1.000000,0.000000,3.000000
25%,48.000000,0.000000,3.000000,120.000000,213.000000,0.000000,0.000000,133.000000,0.000000,0.00000,1.000000,0.000000,3.000000
50%,55.000000,1.000000,3.000000,130.000000,245.000000,0.000000,2.000000,153.500000,0.000000,0.80000,2.000000,0.000000,3.000000
75%,61.000000,1.000000,4.000000,140.000000,280.000000,0.000000,2.000000,166.000000,1.000000,1.60000,2.000000,1.000000,7.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.20000,3.000000,3.000000,7.000000

In [8]:
def z_score(data,x):
    upper_limit=x.mean()+3*x.std()
    lower_limit=x.mean()-3*x.std()
    return pd.DataFrame(data[(x<upper_limit) & ( x>lower_limit)])

In [9]:
for value in data.columns[:-1]:
    data=pd.DataFrame(z_score(data,data[value]))

In [10]:
data.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
5,65,1,4,120,177,0,0,140,0,0.4,1,0,7,Absence

In [11]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['Heart Disease']=le.fit_transform(data['Heart Disease'])

In [12]:
data

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,1
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,1
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,0
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,0
5,65,1,4,120,177,0,0,140,0,0.4,1,0,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,0
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,0
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,0
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,0
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1

In [13]:
from sklearn.preprocessing import MinMaxScaler
nm=MinMaxScaler()
data=pd.DataFrame(nm.fit_transform(data),columns=data.columns)

In [14]:
data

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,0.854167,1.0,1.000000,0.418605,0.731343,0.0,1.0,0.184211,0.0,0.571429,0.5,1.000000,0.00,1.0
1,0.583333,1.0,0.333333,0.348837,0.503731,0.0,0.0,0.464912,0.0,0.071429,0.0,0.000000,1.00,1.0
2,0.729167,1.0,1.000000,0.395349,0.511194,0.0,0.0,0.149123,1.0,0.047619,0.5,0.333333,1.00,0.0
3,0.937500,0.0,0.333333,0.302326,0.533582,0.0,1.0,0.289474,1.0,0.047619,0.0,0.333333,0.00,0.0
4,0.750000,1.0,1.000000,0.302326,0.190299,0.0,0.0,0.456140,0.0,0.095238,0.0,0.000000,1.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,0.479167,1.0,0.666667,0.906977,0.272388,1.0,0.0,0.649123,0.0,0.119048,0.0,0.000000,1.00,0.0
257,0.312500,1.0,0.333333,0.302326,0.511194,0.0,0.0,0.745614,0.0,0.000000,0.0,0.000000,1.00,0.0
258,0.562500,0.0,0.333333,0.534884,0.626866,0.0,1.0,0.570175,0.0,0.309524,0.5,0.000000,0.00,0.0
259,0.583333,1.0,1.000000,0.534884,0.246269,0.0,0.0,0.526316,0.0,0.095238,0.5,0.000000,0.75,0.0
260,0.791667,1.0,1.000000,0.767442,0.597015,0.0,1.0,0.175439,1.0,0.357143,0.5,1.000000,0.00,1.0

In [15]:
x_train,x_test,y_train,y_test=train_test_split(data.drop("Heart Disease", axis=1),data['Heart Disease'],test_size=0.2,random_state=10)

In [16]:
def model_selection(model,x_train,y_train,x_test,y_test):
    model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    ac=accuracy_score(y_test,y_pred)
    cr=cross_val_score(model,x_train,y_train,cv=4)
    print(model,ac,cr)

In [17]:
for models in [LogisticRegression(),DecisionTreeClassifier(),svm.SVC(kernel='linear')]:
    model_selection(models,x_train,y_train,x_test,y_test)

LogisticRegression() 0.8679245283018868 [0.84615385 0.84615385 0.76923077 0.88461538]
DecisionTreeClassifier() 0.7547169811320755 [0.71153846 0.78846154 0.73076923 0.78846154]
SVC(kernel='linear') 0.8490566037735849 [0.86538462 0.84615385 0.80769231 0.88461538]

In [18]:
from sklearn.decomposition import PCA

In [36]:
pca=PCA(0.90)

In [37]:
data.iloc[:,-1]

0      1.0
1      1.0
2      0.0
3      0.0
4      0.0
      ...
256    0.0
257    0.0
258    0.0
259    0.0
260    1.0
Name: Heart Disease, Length: 261, dtype: float64

In [38]:
data_pca=pd.DataFrame(pca.fit_transform(data.iloc[:,0:-1]))

In [39]:
data_pca

,0,1,2,3,4,5,6,7
0,0.187307,0.609116,-0.197214,0.149348,-0.200180,-0.287406,1.067334,-0.045278
1,0.032747,-0.769260,-0.454164,-0.035487,-0.238839,0.025849,-0.294677,0.318228
2,0.871294,-0.590592,0.442143,-0.109105,0.015458,-0.087424,0.014841,0.021449
3,-0.223839,0.751342,0.709856,-0.091447,0.277451,-0.119377,-0.115378,0.688428
4,0.178973,-0.758218,-0.283129,-0.062416,-0.363111,-0.282265,-0.207982,-0.191802
...,...,...,...,...,...,...,...,...
256,0.134614,-0.740285,-0.574179,0.618524,0.385636,-0.077478,-0.500429,-0.161065
257,-0.036365,-0.800907,-0.519256,-0.127347,-0.213839,0.003132,-0.417099,0.277271
258,-0.684594,0.703576,0.124982,0.194711,-0.277813,0.402181,-0.083314,0.186205
259,0.118287,-0.635797,-0.207080,-0.032340,-0.324204,0.068321,-0.007317,-0.368440
260,0.653450,0.681206,0.377259,-0.148468,0.302434,-0.252489,0.832162,0.200128

In [40]:
x_train,x_test,y_train,y_test=train_test_split(data_pca,data.iloc[:,-1],test_size=0.2,random_state=10)

In [41]:
def model_selection(model,x_train,y_train,x_test,y_test):
    model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    ac=accuracy_score(y_test,y_pred)
    cr=cross_val_score(model,x_train,y_train,cv=4)
    print(model,ac,cr)

In [42]:
for models in [LogisticRegression(),DecisionTreeClassifier(),svm.SVC(kernel='linear')]:
    model_selection(models,x_train,y_train,x_test,y_test)

LogisticRegression() 0.8679245283018868 [0.86538462 0.86538462 0.78846154 0.88461538]
DecisionTreeClassifier() 0.7547169811320755 [0.78846154 0.76923077 0.67307692 0.75      ]
SVC(kernel='linear') 0.8490566037735849 [0.86538462 0.86538462 0.78846154 0.84615385]